@*@using Microsoft.Web.Helpers;*@

@{
    ViewBag.Title = "MegaMillions";
}




<script type="text/javascript">
    // globals...


    $(document).ready(function() {

    });


    // functions...


</script>>

<body>
    @*HTML section*@
    <h2>Welcome to MegaMillions</h2>


</body>