@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RichyRich Project</h1>
    <p class="lead">This is a project to practice .Net MVC web application programming.</p>
    <p><a href="http://nhlottery.com" class="btn btn-primary btn-lg">NH Lottery &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <input type="button" value="MegaMillions" onclick="window.location.href='<%= Url.Action("_Megamillions", "Home") % />';" />
        @*<a href="~/Views/Shared/_MegaMillions.cshtml" class="btn btn-default btn-lg">MegaMillions</a>*@
        @*<a href=@Html.Partial("_MegaMillions") class="btn btn-default btn-lg">MegaMillions</a>*@
    </div>
    <div class="col-md-4">
        @*ToDo: Add something to do here... like add more buttons/games eventually.*@
    </div>
</div>